#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.travel_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv img
{
  width: 100%;
}

.travel_mainDiv hr
{
    width: 230px; 
}

.travel_mainDiv h5 , .travel_mainDiv p
{
margin-left: 20px;
}


.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
}

.movie_text span
{
color: #ff7700;
}

p{
    font-size: 20px;
    color: sandybrown;
}

h4{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    
}

#chandresh{
    border-radius: 300px;
    width: 150px;
    height: 150px;
    text-align: left;
    
}

#insta{
    border-radius: 400px;
    width: 175px;
    height: 175px;   
}

#name{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 80px;
    text-align: center;
    color: chartreuse;
}

#envi{
    text-align: center;
}

#bla{
    color:black;
    font-size: 20px;
    
}

#ghg{
    padding-bottom: 30px;
        
}

h5{
    text-align: center;
    font-size: 30px;
    color: orangered;
}

#{
    text-align: center;
}
